.header {
  position: sticky;
  top: 0;
  z-index: 10;
  backdrop-filter: blur(14px);
  background: rgba(247, 242, 236, 0.5);
}

.MuiButtonBase-root.btn-regular {
  border-color: #8a0015;
  background-color: transparent;
  box-shadow: none;
  color: #8a0015;
}

.MuiButtonBase-root.btn-white {
  border-color: #fff;
  background-color: transparent;
  box-shadow: none;
  color: #fff;
}

.MuiButtonBase-root.btn-regular:hover{
  background: #8a0015;
  color: #fff;
}

.MuiButtonBase-root.btn-white:hover{
  background: #fff;
  color: #8a0015;
}

.headerMain {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.headerScrolled {
  background-color: rgba(255, 255, 255, 0.64) !important;
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  animation: slideInDown 0.5s ease-in-out;
}

@keyframes slideInDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
} 

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif!important;
}

.card-portfolio:hover .portfolio-content-card{
  height: 50%;
}

.portfolio-content-card {
  transition: all 0.5s ease;
  height: 0;
}

.scrollDownIcon {
  animation: scrollBounce 1.5s infinite ease-in-out;
}

@keyframes scrollBounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(8px);
  }
  60% {
    transform: translateY(4px);
  }
}

